/bin/
# Eclipse metadata
.project
.classpath
.settings/

# Java / Maven / Gradle
target/
bin/
build/
out/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*~

# Cache de Eclipse
.metadata/

# Archivos de compilación
*.class

# IDEs adicionales (por si abrís el proyecto en otros)
.idea/
*.iml
.vscode/
